
@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/JavaScript.js"></script>

<h2>Index</h2>
<input id="txt" type="text" />
<input id="Button1" type="button" value="button" onclick="callme()" />